params {
    //container = 'ghcr.io/gi-bielefeld/plast:7dc866f_2026-08-19'
    
    outdir = 'results'
    /*
     * Build
     * Search
     * Build and Search
     */
    mode = 'Build and Search'
    /*
     * Existing graph input:
     *
     * --input_graph_dir graphs/
     * --graph_prefix ebola
     *
     * Expected files:
     *
     * graphs/ebola.gfa or graphs/ebola.gfa.gz
     * graphs/ebola.color.bfg
     * graphs/ebola.idx
     */
    input_graph_dir = null
    graph_prefix = null
    /*
     * New graph input.
     * At least one of these directories may be given.
     */
    ref_seq_input_dir = null
    raw_seq_input_dir = null
    input_zip = null
    query_fasta = null
    search_color_set = null
    random_seed = 202608141722
    kmer_length = 31
    min_length = 23
    seed_length = 11
    advanced_index = false
    max_results = 250
    mismatch = -1
    match = 1
    x_dropoff = null
    gap_score = -2
    strand = 'both'
    quorum = null
    lambda_ungapped = null
    lambda_gapped = null
    stat_c_ungapped = null
    stat_c_gapped = null
    evalue_threshold = 10
    report_colors = false
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g) -q --rm'
}

// Disable unwanted features
conda.enabled = false
tower.enabled = false

//weblog.enabled = false

shifter.enabled = false
singularity.enabled = false
podman.enabled = false
charliecloud.enabled = false
dag.enabled = true
trace.enabled = true

process {
    executor = 'local'
    container = 'ubuntu:26.04'
    cpus   = { 2 }
    memory = { 4000.MB }
}
